<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center"><small>Hi, my name is</small><br />{{site.title}}</h1>
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
            {% if site.description != '' %}
              <table><tbody><tr>
              <td>
                <img src="img/omer.JPG" class="img-omer">
              </td>
              <td>
                <p class="text-center">
                {{site.description}}
                </p>
              </td>
              </tr></tbody></table>
            {% endif %}

            {% if site.enable_contact == true %}
              {% include contact.html %}
              {% include contact-modal.html %}
            {% endif %}
          {% endif %}
          
          <h3 class="text-center">or follow me:</h3>
          <div class="hero-buttons">

            {% if site.linkedin_username != '' %}
              <a href="https://linkedin.com/in/{{ site.linkedin_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-lg"></i>LinkedIn</button></a>
            {% endif %}
            {% if site.twitter_username != '' %}
              <a href="https://twitter.com/{{ site.twitter_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-twitter fa-lg"></i>Twitter</button></a>
            {% endif %}
            {% if site.medium_username != '' %}
              <a href="{{ site.medium_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-medium fa-lg"></i>Medium</button></a>
            {% endif %}
            {% if site.github_username != '' %}
              <a href="https://github.com/{{ site.github_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>Github</button></a>
            {% endif %}
            {% if site.so_username != '' %}
              <!--<a href="https://stackoverflow.com/users/{{ site.so_username  }}?tab=profile"><button class="btn btn-default btn-lg"><i class="fa fa-stack-overflow fa-lg"></i>Stack Overflow</button></a>-->
            {% endif %}

          </div>

        </div>

      </div>

      <a class="section-jump text-center" href="#portfolio">
        Recent Posts <br />
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
